# Virtual environments
env/
`env/
venv/
.venv/
ENV/
envsource/
envsource/
`env/`


# Node modules and other dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Build directories
frontend/build/
backend/build/
dist/
out/

# Environment variables
*.env
frontend/.env
backend/.env

# Log files
*.log
logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# IDE specific files (VSCode, PyCharm, etc.)
.vscode/
.idea/

# Test and coverage files
coverage/
*.cover
.nox/
*.test-output
